.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    color: #FFF !important;
}

.btn {
    --bs-btn-border-radius: 0rem !important;
}

.mobile-container {
    max-width: 900px !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
}

.box {
    box-shadow: 0 .15rem 1.15rem 0 rgba(58,59,69,.15)!important; padding: 20px; margin-top: 20px;
}

.box-choice {
    min-height: 380px;
}


body {
    font-family: "DM Sans",sans-serif  !important;
    color: #1B3139  !important;
}

.box_description {
    color: #685d77;
    padding-top: 5px;
    padding-bottom: 10px;
    /*font-style: oblique;*/
}


$primary: #FF3621;
$secondary: #143d4a;

.btn-secondary:active {
  background-color: #827694 !important;
  transform: translateY(2px);
}

.btn-primary:active {
  background-color: #ff6b5c !important;
  transform: translateY(2px);
}



$bs-body-color: #1B3139;

@import "../node_modules/bootstrap/scss/bootstrap";

@media (min-width: 500px) {
    h1, .h1 {
      font-size: 3.5rem;
      }

  h2, .h1 {
    font-size: 2.8rem;
    }

    .mobile-container, .mobile-container input, .btn {
      font-size: 2rem;
    }
}
